.logo {
    width: 100%;
    margin-top: 0%;
}

body {
    background-color: rgb(51, 48, 48);
    font-size: 120%;
    margin: 0 3%;
}

.nav {
    text-align: center;
    height: 40px;
    padding: 10px;
    background-color: rgb(51, 48, 48);
}

.nav a {
    font-weight: bold;
    font-size: 28px;
    color: chartreuse;
    padding: 5px;
}

.nav a:hover {
    color: yellow; 
}

h1, h2, h3 {
    color: chartreuse;
    text-align: center;
}

.row {
    display: flex;
    flex: row;
    justify-content: space-between;
}

/*.card {
    content: center;
}

/*.card img {
    image-orientation: center;
}*/

#TRX, #Kristof {
    border-radius: 50px;
    border-right: 18px rgb(29, 240, 255);
    border-bottom: 18px rgb(29, 240, 255);
    border-style: solid;
}   

#edzo, #Laura {
    border-radius: 50px;
    border-right: 18px rgb(255, 8, 8);
    border-bottom: 18px rgb(255, 8, 8);
    border-style: solid;
}

#dance, #Zalan {
    border-radius: 50px;
    border-right: 18px yellow;
    border-bottom: 18px yellow;
    border-style: solid;
}

#joga, #Kata {
    border-radius: 50px;
    border-right: 18px rgb(233, 46, 233);
    border-bottom: 18px rgb(233, 46, 233);
    border-style: solid;
}

p {
    color: lightgray;
    font-size: 110%;
    text-align: absolute;
}

table {
    width: 60%;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-spacing: 5px;
    text-align: center;     
}

th {
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 8px;
    width: 40px;
}

td {
    border: 1px solid gray;
    padding: 8px;
    min-width: 40px;
    color: lightgray;
}

td :hover {
    background-color: gray;
    color: white;
}

form {
    margin: 10px auto;
    display: center;
    padding-left: 30px;
    border: 8px lightgray;
    width: 300px;
    color: lightgray;
    line-height: 2;
    font-size: 110%
}

#ugyfelid1, #password {
    width: 200px;
    height: 25px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;   
    background-color: rgb(235, 197, 74);
}

a:link, a:active, a:visited {
    color: chartreuse;
    text-decoration: underline;
}

.lablec {
    width: 100%;
}
.lablec h2 {
    text-align: center;
}

.lablec p {
    margin-top: 5px;
    color: chartreuse;
    line-height: 0.2;
    text-align: center;
}

/*@media only screen and (min-width: 960px) and (max-width: 1239px)
