.hatter {
    background-color: chartreuse;
    font-family: Broadway;
    color: black;
}

body {
    font-size: 110%;
    background-color: rgb(51, 48, 48); 
    margin: 0 1%;
}

.nav a {
    height: 50px;
    padding: 10px;
    background-color: rgb(51, 48, 48);
    font-weight: bold;
    font-size: 1.2rem;
    color: chartreuse;
    padding: 5px;
}
.nav a:hover {
    color: yellow; 
}

#TRX, #Kristof {
    border-radius: 30px;
    border-right: 12px rgb(29, 240, 255);
    border-bottom: 12px rgb(29, 240, 255);
    border-style: solid;
}   

#edzo, #Laura {
    border-radius: 30px;
    border-right: 12px rgb(255, 8, 8);
    border-bottom: 12px rgb(255, 8, 8);
    border-style: solid;
}

#dance, #Zalan {
    border-radius: 30px;
    border-right: 12px yellow;
    border-bottom: 12px yellow;
    border-style: solid;
}

#joga, #Orsi {
    border-radius: 30px;
    border-right: 12px rgb(233, 46, 233);
    border-bottom: 12px rgb(233, 46, 233);
    border-style: solid;
}

h1, h2, h3 {
    color: chartreuse;
    text-align: center;
}

p {
    color: lightgray;
    font-size: 110%;
}

table {
    width: 70%;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-spacing: 5px;
    text-align: center;  
}

th {
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 2px;
    width: 30px;
}

td {
    border: 1px solid gray;
    padding: 2px;
    min-width: 30px;
    color: lightgray;
}

td:hover {
    background-color: rgb(240, 241, 235);
    color: black;
    font-weight: bold;
}

a {
    color: chartreuse;
}

a:hover {
    color: red;
}

form {
    width: 300px;
    margin: 10px auto;
    display: center;
    border: solid 1px lightgray;
    padding-left: 30px; 
    color: lightgray;
    line-height: 1.5;
    font-size: 110%
}

#ugyfelid1, #password {
    width: 200px;
    height: 25px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;   
    background-color: rgb(235, 197, 74);
}

.lablec {
    width: 100%;
    background-color: rgb(80, 80, 80);
    text-align: center;
    padding: 1%;
}

.lablec p {
    margin-top: 5px;
    color: chartreuse;
    line-height: 0.8;
    text-align: center;
}

/* Hamburger navbar */

* {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(51, 48, 48);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }