
.logo {
    width: 100%;
    margin-top: 0;
}

body {
    background-color: rgb(51, 48, 48);
}

.nav {
    margin-right: 20px;
    height: 40px;
    padding: 10px;
    background-color: rgb(51, 48, 48);
}

table {
    border-collapse: collapse;
}

h1 {
    color: chartreuse;
    font-family: cursive;
    text-align: center;
}

.nav a {
    float: left;
    margin: 5px 5px;
    font-weight: bold;
    font-size: 28px;
    color: chartreuse;
    padding: 5px;
}

.nav a:hover {
    color: yellow;
}

#TRX {
    border-radius: 8px;
    border-right: 5px rgb(29, 240, 255);
    border-bottom: 5px rgb(29, 240, 255);
    border-style: solid;
}

#edzo {
    border-radius: 8px;
    border-right: 5px rgb(255, 8, 8);
    border-bottom: 5px rgb(255, 8, 8);
    border-style: solid;
}

#dance {
    border-radius: 8px;
    border-right: 5px yellow;
    border-bottom: 5px yellow;
    border-style: solid;
}

h2 {
    color: chartreuse;
}
p {
    color: lightgray;
    font-size: 120%;
}


table {
    width: 60%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-spacing: 5px;
    text-align: center;     
}

th {
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 8px;
    width: 40px;
}

td {
    border: 1px solid gray;
    padding: 8px;
    width: 40px;
    color: lightgray;
}

td :hover {
    background-color: gray;
    color: white;
}

form {
    margin: 10px auto;
    padding-left: 15px;
    width: 320px;
    color: lightgray;
    line-height: 1.5;
}

a:link, a:active, a:visited {
    color: chartreuse;
    }
a:link {
    text-decoration: underline;
}



