.hatter {
    background-color: chartreuse;
    font-family: Broadway;
    color: black;
}

body {
    font-size: 110%;
    background-color: rgb(51, 48, 48); 
    margin: 0 1%;
}

.nav a {
    height: 50px;
    padding: 10px;
    background-color: rgb(51, 48, 48);
    font-weight: bold;
    font-size: 1.2rem;
    color: chartreuse;
    padding: 5px;
}
.nav a:hover {
    color: yellow; 
}

#TRX, #Kristof {
    border-radius: 30px;
    border-right: 12px rgb(29, 240, 255);
    border-bottom: 12px rgb(29, 240, 255);
    border-style: solid;
}   

#edzo, #Laura {
    border-radius: 30px;
    border-right: 12px rgb(255, 8, 8);
    border-bottom: 12px rgb(255, 8, 8);
    border-style: solid;
}

#dance, #Zalan {
    border-radius: 30px;
    border-right: 12px yellow;
    border-bottom: 12px yellow;
    border-style: solid;
}

#joga, #Orsi {
    border-radius: 30px;
    border-right: 12px rgb(233, 46, 233);
    border-bottom: 12px rgb(233, 46, 233);
    border-style: solid;
}

h1, h2, h3 {
    color: chartreuse;
    text-align: center;
}

p {
    color: lightgray;
    font-size: 110%;
}

table {
    width: 70%;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-spacing: 5px;
    text-align: center;  
}

th {
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 2px;
    width: 30px;
}

td {
    border: 1px solid gray;
    padding: 2px;
    min-width: 30px;
    color: lightgray;
}

td:hover {
    background-color: rgb(240, 241, 235);
    color: black;
    font-weight: bold;
}

a {
    color: chartreuse;
}

a:hover {
    color: red;
}

form {
    width: 300px;
    margin: 10px auto;
    display: center;
    border: solid 1px lightgray;
    padding-left: 30px; 
    color: lightgray;
    line-height: 1.5;
    font-size: 110%
}

#ugyfelid1, #password {
    width: 200px;
    height: 25px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;   
    background-color: rgb(235, 197, 74);
}

.lablec {
    width: 100%;
    background-color: rgb(80, 80, 80);
    text-align: center;
    padding: 1%;
}

.lablec p {
    margin-top: 5px;
    color: chartreuse;
    line-height: 0.8;
    text-align: center;
}